@import url(https://fonts.googleapis.com/css?family=Raleway:400, 700, 800);
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background: #444;
  color: #fffce1;
  font-family: "Raleway", Arial, sans-serif;
}
#root {
  height: 100%;
}
.App {
  height: 100%;
}